<h1>Editar Aluno</h1>
<form action="" method="post">
    <div class="form-group">
        <label for="nome">Aluno</label>
        <input type="text" name="nome" id="nome" class="form-control" value="" required>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>