<h1>alunos</h1>
<a href="/alunos/add" class="tbn btn-sucess mb-3">Adicionar alunos</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>